/* ==Hightlight== in preview mode has colored text and no background fill */
/* Change the color codes to adjust the text color in light and dark mode. */

.markdown-preview-view {
    --text-hightlight-bg: none;
}

.theme-dark .markdown-preview-view mark {
    color: #fbc959;
}

.theme-light .markdown-preview-view mark {
    color: #d88d00;
}